@tailwind base;
@tailwind components;
@tailwind utilities;


.font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.font-georgia {
  font-family: Georgia, Times, 'Century Schoolbook L', serif;
}

.font-arial {
  font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.font-times {
  font-family: "Times New Roman", serif;
}

body {
  background-color: #f4f4f4;
}